<section data-controller="image" class="container mt-5">
  <h1 class="text-center my-5">Lightbox Photo Gallery</h1>

  <p class="text-center mb-5">
    <%= link_to "Upload new image", new_image_path, class: "btn btn-primary" %>
    <button type="button" title="If the slide show does not work. Refresh the page!" id="reload_slide_show" class="btn btn-light m-4"> <i class="fa fa-refresh fa-lg" aria-hidden="true"></i> </button>


  </p>

  <article class="row row-cols-1 row-cols-sm-2 g-2 d-flex justify-content-center">

    <% @images.each do |single_image| %>
      <div class="col-sm-6 col-md-3 mb-4 text-center">
        <div style="position: absolute; margin-left: 220px;" class="btn-group dropstart">
          <i
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="fas fa-ellipsis-vertical"
            role="button"
            data-bs-auto-close="outside"
          >
          </i>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item task-edit" href="#">Edit</a>
            </li>
            <li>
              <a class="dropdown-item task-delete" href="#">Delete</a>
            </li>
          </ul>
        </div>
        <a data-fancybox="gallery" data-src=" <%= url_for(single_image.main_image) %> " data-caption=" <%= single_image.name %> ">

          <% if single_image.main_image.attached? %>
            <%= image_tag single_image.main_image %>
          <% end %>
          <figcaption> <%= single_image.name %> </figcaption>

        </a>
      </div>
    <% end %>

  </article>
</section>