<div class="container">
  <h1>all images goes to here</h1>

  <% @images.each do |single_image| %>
    <p>
      <%= link_to single_image.name, image_path(single_image) %>
      <%= single_image.description %>
    </p>

    <p>
      <%= link_to "Update", edit_image_path(single_image) %>
      <%= link_to 'Delete', image_path(single_image), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>

  <% end %>

  <%= link_to "create new image", new_image_path %>
</div>