<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-6">

        <div class="card shadow-lg p-3 mb-5 bg-white" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <%= form_with model: @image, url: image_index_path do |form| %>

              <div class="form-group p-2 m-2">
                <label for="exampleInputEmail1">Image Name</label>
                <%= form.text_field :name, class: "form-control", id: "exampleInputEmail1", placeholder: "Enter Image Name" %>
              </div>

              <div class="form-group p-2 m-2">
                <label for="exampleInputEmail1">Image Description</label>
                <%= form.text_area :description, class: "form-control", id:"exampleInputEmail1", placeholder: "Description" %>
              </div>

              <div class="form-group p-2 m-2">
                <label for="exampleFormControlFile1">Example file input</label>
                <%= form.file_field :main_image, class: "form-control-file", id: "exampleFormControlFile1" %>
                <br>
                <small id="emailHelp" class="form-text text-muted">Image format must be jpeg or png.</small>
              </div>

              <div class="form-group p-2 m-2">
                <%= form.submit "Upload image", class: "btn btn-primary" %>

                <%= link_to "Go to home", root_path , class: "btn btn-dark" %>

              </div>

            <% end %>



          </div>
        </div>

      </div>
    </div>
  </div>
</section>